<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
  <link rel="stylesheet" type="text/css" href="/../../assets/stylesheets/application.css">
  <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
  <script src="gmap.js"></script>

  <title>Artemis</title>
</head>

<body id="map-page">
  <header class='col-12'>
    Artemis
  </header>
  <a href='/'><img id="logo" ></a>

  <div id="floating-panel">
    <button onclick="toggleDrugs()">Drugs & Drinking</button>
    <button onclick="toggleMisc()">Miscellaneous</button>
    <button onclick="toggleTheft()">Theft</button>
    <button onclick="toggleViolent()">Violent</button>
    <button onclick="toggleTotal()">Total</button>
  </div>

  <div id="new-search-div">
    <a href='/crimepoints/index'>
      <button>New Search</button>
    </a>
  </div>

  <div id="map" class='col-12'>
  <!-- empty div where js googlemap is placed -->
  </div>

  <div id="crime-rating">
    <ul>
      <li>
        low crime → high crime (0 → 10)
      </li>
      <br>
      <br>
      <li>
        <strong>All Crime: </strong><%= @queried_crimepoint.total.to_i %>
      </li>
      <li>
        <strong>Theft: </strong><%= @queried_crimepoint.theft.to_i %>
      </li>
      <li>
        <strong>Violent Crime: </strong><%= @queried_crimepoint.violent.to_i %>
      </li>
      <li>
        <strong>Drugs/Alcohol: </strong><%= @queried_crimepoint.drugdrink.to_i %>
      </li>
      <li>
        <strong>Misdemeanor: </strong><%= @queried_crimepoint.misdemean.to_i %>
      </li>
    </ul>
  <div>

<script type="text/javascript">
  function initMap() {
    var center = new google.maps.LatLng(<%=@latlng[0]%>, <%=@latlng[1]%>)

    var map = new google.maps.Map(document.getElementById('map'), {
      center: center,
      zoom: 14,
      styles: styles
    });

    var heatmap = new google.maps.visualization.HeatmapLayer({
      data: totalData(),
      // dissipating: false,
      map: map,
      gradient: gradient,
      radius: 40
    });

    var centerMarker = new google.maps.Marker({
      position: center,
      map: map,
      icon: "<%= asset_path('arrow_marker.png')%>"
    });
  };
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_lgSf_Boe4qAFQh5fpsW-FyeKdswYyS4&libraries=visualization&callback=initMap">
</script>

</body>
</html>
